<main>
  <h2>Item:</h2>
    <div>
      <dl>
        <dt>Nome:</dt>
        <dd><%= @item.name %></dd>
        <dt>Descrição:</dt>
        <dd><%= @item.description %></dd>
        <dt>Peso em gramas:</dt>
        <dd><%= @item.weight %> g</dd>
        <dt>Largura em centímetros:</dt>
        <dd><%= @item.width %> cm</dd>
        <dt>Altura em centímetros:</dt>
        <dd><%= @item.height %> cm</dd>
        <dt>Comprimento em centímetros:</dt>
        <dd><%= @item.length%> cm</dd>
        <dt>Categoria:</dt>
        <dd><%= @item.category.name %></dd>
      </dl>
    </div>
</main>
