<!DOCTYPE html>
<html>
  <head>
    <title>StockAuction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <h1>Leilão de Galpões</h1>
    <nav>

      <%= link_to 'Categorias', categories_path %>
      <% if user_signed_in? %>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <%= current_user.email %>
        
        <% if current_user.admin? %>
          <em>Administrador</em>
        <% else %>
          <em>Usuário</em>
        <% end %>  
      <% else %>
        <%= link_to 'Cadastrar-se', new_user_registration_path %>
        <%= link_to 'Logar', new_user_session_path %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
